*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, html a {
	-webkit-font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body {
	font-family: Raleway, Ubuntu, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	background: #e5e5e5;
	color: #555;
	padding: .5em;
	word-wrap: break-word;
}

.wrapper {
	max-width: 790px;
	margin: 0 auto;
	background: white;
	padding: 30px;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 2px 2px rgba(0,0,0,.1);
}

a {
	color: #4183c4;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	margin: 0;
	margin-top: .1em;
	font-size: 4em;
	font-weight: 800;
}

h1,
h1 + p {
	text-align: center;
}

img {
	width: 100%;
	height: auto;
}

.spinner {
	display: block;
	margin: auto;
	width: 66px;
	height: 66px;
}

p {
	margin: 0;
	margin-bottom: 1.6em;
	line-height: 1.6em;
}

li {
	margin-bottom: .3em;
}

/*pre,
code {
	font-family: monospace;
}*/

pre {
	border-radius: 3px;
	background: #555;
	padding: .2em .4em;
	display: block;
}

code {
	color: #080;
}

pre,
pre code {
	color: white;
}