$accent: #5F49AE;

@import "marble";

// Root
@import "templates/root";

// Landing
@import "templates/landing";

@media (min-width: 960px) {
  .footer-description:last-child {
      text-align: center;
  }
}

@media (min-width: 960px) {
  .header {
      min-height: calc(100vh - 107px);
  }
}

.header {
  background: url('../images/world_bg.png') no-repeat top right;
}

.sidebar-offset {
  background: url('../images/world_bg.png') no-repeat top right;
  background-size: 390px;
}
.gh-btns {
  padding-left: 20px;
  margin-top: 20px;
}

// Docs
@import "templates/docs";

// Search
@import "templates/search";

// Updates
@import "templates/updates";

// Blog
@import "templates/blog";

// Tutorial
@import "templates/tutorial";
